*{
    margin:0;
    padding:0;
}

body{
    font-family:"poppins", serif;
}

.portfolio-container{
    margin:1rem;
}

.portfolio-head{
    background-color: black;
    color: white;
    padding: 1.5rem;
    border-radius:10px;
}

.portfolio-head__name{
    font-size:3rem;
  
}

@media screen and (max-width:600px)
{
    .portfolio-head__name{
        font-size:2.5rem;
    }

}

.portfolio-head__role{
    padding-bottom:0.6rem ;
    font-size: 1.5rem;
}

.portfolio-head__contact{
    background-color: orange;
    text-decoration: none;
    color: white;
    display:inline-block;
    padding:0.2rem 1rem; 
}

.portfolio-contents,.portfolio-intrest,.portfolio-projects,.portfolio-footer{
    margin-top:1.813rem;
}

.portfolio-contents__description,.portfolio-intrest__description,.portfolio-projects__description,.portfolio-footer__description
{
    margin-top: 10px;

}

.portfolio-contents{
    background-color: orange;
    padding:1rem;
    border-radius: 10px;

}

.portfolio-intrest{
    padding:1rem;
    border-radius:10px;
    border: 2px solid orange;
    
}

.portfolio-intrest__title{
    margin-top: 10px;

}

.portfolio-projects{
    background-color: orange;
    padding:1rem ;
    min-height:200px;
    border-radius:10px;
    display: inline-block;
}


.portfolio-intrest__description li{
    list-style: none;
}

.portfolio-projects li{
    list-style:none;
}


.portfolio-footer{
    background-color: black;
    color: white;
    padding: 1.5rem;
    border-radius: 10px;
}

.portfolio-footer__linkedin{
    color:orange;
    text-decoration: none;
}

.portfolio-footer__linkedin:focus{
    text-decoration: underline;

    
}